body {
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  background-color: whitesmoke;
}

main h1 {
  padding-left: 2rem;
}

.leaderboard-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 5%;
}

.recent-scores {
  width: 45%;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.recent-scores .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 40px;
}

.recent-scores button {
  height: 25px;
}

.recent-scores .score-board {
  display: flex;
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.add-score {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

.add-score form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

.add-score form h2 {
  margin-top: 0.3em;
}

.add-score form input {
  height: 30px;
  padding-left: 1em;
  border: 2px solid black;
}

.add-score form button {
  width: 100px;
  align-self: flex-end;
}
