body {
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 4px), repeating-linear-gradient(#444cf755, #444cf7);
}

main h1 {
  text-align: center;
}

.leaderboard-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 4rem;
  margin-right: 4rem;
}

.recent-scores {
  width: 300px;
  padding: 0;
  height: auto;
}

.recent-scores .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 40px;
}

input,
button {
  background-color: #d4d6fa;
}

.recent-scores button {
  height: 30px;
  border: 2px solid black;
  border-radius: 0.5em;
}

.recent-scores .score-board {
  display: flex;
  width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 0.5em;
}

.table-body {
  border: 1px solid black;
}

.add-score {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

.add-score form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

.add-score form h2 {
  margin-top: 0.3em;
}

.add-score form input {
  height: 30px;
  padding-left: 1em;
  border: 2px solid black;
  border-radius: 0.5em;
}

.add-score form button {
  width: 80px;
  align-self: flex-end;
  height: 30px;
  border: 2px solid black;
  border-radius: 0.5em;
}
